html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

/*
  Border colors.
*/
.border-c-red {
  border-color: #F44336;
}

.border-tc-red {
  border-top-color: #F44336;
}

.border-bc-red {
  border-bottom-color: #F44336;
}

.border-lc-red {
  border-left-color: #F44336;
}

.border-rc-red {
  border-right-color: #F44336;
}

.border-c-red-lighten-5 {
  border-color: #FFEBEE;
}

.border-tc-red-lighten-5 {
  border-top-color: #FFEBEE;
}

.border-bc-red-lighten-5 {
  border-bottom-color: #FFEBEE;
}

.border-lc-red-lighten-5 {
  border-left-color: #FFEBEE;
}

.border-rc-red-lighten-5 {
  border-right-color: #FFEBEE;
}

.border-c-red-lighten-4 {
  border-color: #FFCDD2;
}

.border-tc-red-lighten-4 {
  border-top-color: #FFCDD2;
}

.border-bc-red-lighten-4 {
  border-bottom-color: #FFCDD2;
}

.border-lc-red-lighten-4 {
  border-left-color: #FFCDD2;
}

.border-rc-red-lighten-4 {
  border-right-color: #FFCDD2;
}

.border-c-red-lighten-3 {
  border-color: #EF9A9A;
}

.border-tc-red-lighten-3 {
  border-top-color: #EF9A9A;
}

.border-bc-red-lighten-3 {
  border-bottom-color: #EF9A9A;
}

.border-lc-red-lighten-3 {
  border-left-color: #EF9A9A;
}

.border-rc-red-lighten-3 {
  border-right-color: #EF9A9A;
}

.border-c-red-lighten-2 {
  border-color: #E57373;
}

.border-tc-red-lighten-2 {
  border-top-color: #E57373;
}

.border-bc-red-lighten-2 {
  border-bottom-color: #E57373;
}

.border-lc-red-lighten-2 {
  border-left-color: #E57373;
}

.border-rc-red-lighten-2 {
  border-right-color: #E57373;
}

.border-c-red-lighten-1 {
  border-color: #EF5350;
}

.border-tc-red-lighten-1 {
  border-top-color: #EF5350;
}

.border-bc-red-lighten-1 {
  border-bottom-color: #EF5350;
}

.border-lc-red-lighten-1 {
  border-left-color: #EF5350;
}

.border-rc-red-lighten-1 {
  border-right-color: #EF5350;
}

.border-c-red-darken-1 {
  border-color: #E53935;
}

.border-tc-red-darken-1 {
  border-top-color: #E53935;
}

.border-bc-red-darken-1 {
  border-bottom-color: #E53935;
}

.border-lc-red-darken-1 {
  border-left-color: #E53935;
}

.border-rc-red-darken-1 {
  border-right-color: #E53935;
}

.border-c-red-darken-2 {
  border-color: #D32F2F;
}

.border-tc-red-darken-2 {
  border-top-color: #D32F2F;
}

.border-bc-red-darken-2 {
  border-bottom-color: #D32F2F;
}

.border-lc-red-darken-2 {
  border-left-color: #D32F2F;
}

.border-rc-red-darken-2 {
  border-right-color: #D32F2F;
}

.border-c-red-darken-3 {
  border-color: #C62828;
}

.border-tc-red-darken-3 {
  border-top-color: #C62828;
}

.border-bc-red-darken-3 {
  border-bottom-color: #C62828;
}

.border-lc-red-darken-3 {
  border-left-color: #C62828;
}

.border-rc-red-darken-3 {
  border-right-color: #C62828;
}

.border-c-red-darken-4 {
  border-color: #B71C1C;
}

.border-tc-red-darken-4 {
  border-top-color: #B71C1C;
}

.border-bc-red-darken-4 {
  border-bottom-color: #B71C1C;
}

.border-lc-red-darken-4 {
  border-left-color: #B71C1C;
}

.border-rc-red-darken-4 {
  border-right-color: #B71C1C;
}

.border-c-purple {
  border-color: #9c27b0;
}

.border-tc-purple {
  border-top-color: #9c27b0;
}

.border-bc-purple {
  border-bottom-color: #9c27b0;
}

.border-lc-purple {
  border-left-color: #9c27b0;
}

.border-rc-purple {
  border-right-color: #9c27b0;
}

.border-c-purple-lighten-5 {
  border-color: #f3e5f5;
}

.border-tc-purple-lighten-5 {
  border-top-color: #f3e5f5;
}

.border-bc-purple-lighten-5 {
  border-bottom-color: #f3e5f5;
}

.border-lc-purple-lighten-5 {
  border-left-color: #f3e5f5;
}

.border-rc-purple-lighten-5 {
  border-right-color: #f3e5f5;
}

.border-c-purple-lighten-4 {
  border-color: #e1bee7;
}

.border-tc-purple-lighten-4 {
  border-top-color: #e1bee7;
}

.border-bc-purple-lighten-4 {
  border-bottom-color: #e1bee7;
}

.border-lc-purple-lighten-4 {
  border-left-color: #e1bee7;
}

.border-rc-purple-lighten-4 {
  border-right-color: #e1bee7;
}

.border-c-purple-lighten-3 {
  border-color: #ce93d8;
}

.border-tc-purple-lighten-3 {
  border-top-color: #ce93d8;
}

.border-bc-purple-lighten-3 {
  border-bottom-color: #ce93d8;
}

.border-lc-purple-lighten-3 {
  border-left-color: #ce93d8;
}

.border-rc-purple-lighten-3 {
  border-right-color: #ce93d8;
}

.border-c-purple-lighten-2 {
  border-color: #ba68c8;
}

.border-tc-purple-lighten-2 {
  border-top-color: #ba68c8;
}

.border-bc-purple-lighten-2 {
  border-bottom-color: #ba68c8;
}

.border-lc-purple-lighten-2 {
  border-left-color: #ba68c8;
}

.border-rc-purple-lighten-2 {
  border-right-color: #ba68c8;
}

.border-c-purple-lighten-1 {
  border-color: #ab47bc;
}

.border-tc-purple-lighten-1 {
  border-top-color: #ab47bc;
}

.border-bc-purple-lighten-1 {
  border-bottom-color: #ab47bc;
}

.border-lc-purple-lighten-1 {
  border-left-color: #ab47bc;
}

.border-rc-purple-lighten-1 {
  border-right-color: #ab47bc;
}

.border-c-purple-darken-1 {
  border-color: #8e24aa;
}

.border-tc-purple-darken-1 {
  border-top-color: #8e24aa;
}

.border-bc-purple-darken-1 {
  border-bottom-color: #8e24aa;
}

.border-lc-purple-darken-1 {
  border-left-color: #8e24aa;
}

.border-rc-purple-darken-1 {
  border-right-color: #8e24aa;
}

.border-c-purple-darken-2 {
  border-color: #7b1fa2;
}

.border-tc-purple-darken-2 {
  border-top-color: #7b1fa2;
}

.border-bc-purple-darken-2 {
  border-bottom-color: #7b1fa2;
}

.border-lc-purple-darken-2 {
  border-left-color: #7b1fa2;
}

.border-rc-purple-darken-2 {
  border-right-color: #7b1fa2;
}

.border-c-purple-darken-3 {
  border-color: #6a1b9a;
}

.border-tc-purple-darken-3 {
  border-top-color: #6a1b9a;
}

.border-bc-purple-darken-3 {
  border-bottom-color: #6a1b9a;
}

.border-lc-purple-darken-3 {
  border-left-color: #6a1b9a;
}

.border-rc-purple-darken-3 {
  border-right-color: #6a1b9a;
}

.border-c-purple-darken-4 {
  border-color: #4a148c;
}

.border-tc-purple-darken-4 {
  border-top-color: #4a148c;
}

.border-bc-purple-darken-4 {
  border-bottom-color: #4a148c;
}

.border-lc-purple-darken-4 {
  border-left-color: #4a148c;
}

.border-rc-purple-darken-4 {
  border-right-color: #4a148c;
}

.border-c-deep-purple {
  border-color: #673ab7;
}

.border-tc-deep-purple {
  border-top-color: #673ab7;
}

.border-bc-deep-purple {
  border-bottom-color: #673ab7;
}

.border-lc-deep-purple {
  border-left-color: #673ab7;
}

.border-rc-deep-purple {
  border-right-color: #673ab7;
}

.border-c-deep-purple-lighten-5 {
  border-color: #ede7f6;
}

.border-tc-deep-purple-lighten-5 {
  border-top-color: #ede7f6;
}

.border-bc-deep-purple-lighten-5 {
  border-bottom-color: #ede7f6;
}

.border-lc-deep-purple-lighten-5 {
  border-left-color: #ede7f6;
}

.border-rc-deep-purple-lighten-5 {
  border-right-color: #ede7f6;
}

.border-c-deep-purple-lighten-4 {
  border-color: #d1c4e9;
}

.border-tc-deep-purple-lighten-4 {
  border-top-color: #d1c4e9;
}

.border-bc-deep-purple-lighten-4 {
  border-bottom-color: #d1c4e9;
}

.border-lc-deep-purple-lighten-4 {
  border-left-color: #d1c4e9;
}

.border-rc-deep-purple-lighten-4 {
  border-right-color: #d1c4e9;
}

.border-c-deep-purple-lighten-3 {
  border-color: #b39ddb;
}

.border-tc-deep-purple-lighten-3 {
  border-top-color: #b39ddb;
}

.border-bc-deep-purple-lighten-3 {
  border-bottom-color: #b39ddb;
}

.border-lc-deep-purple-lighten-3 {
  border-left-color: #b39ddb;
}

.border-rc-deep-purple-lighten-3 {
  border-right-color: #b39ddb;
}

.border-c-deep-purple-lighten-2 {
  border-color: #9575cd;
}

.border-tc-deep-purple-lighten-2 {
  border-top-color: #9575cd;
}

.border-bc-deep-purple-lighten-2 {
  border-bottom-color: #9575cd;
}

.border-lc-deep-purple-lighten-2 {
  border-left-color: #9575cd;
}

.border-rc-deep-purple-lighten-2 {
  border-right-color: #9575cd;
}

.border-c-deep-purple-lighten-1 {
  border-color: #7e57c2;
}

.border-tc-deep-purple-lighten-1 {
  border-top-color: #7e57c2;
}

.border-bc-deep-purple-lighten-1 {
  border-bottom-color: #7e57c2;
}

.border-lc-deep-purple-lighten-1 {
  border-left-color: #7e57c2;
}

.border-rc-deep-purple-lighten-1 {
  border-right-color: #7e57c2;
}

.border-c-deep-purple-darken-1 {
  border-color: #5e35b1;
}

.border-tc-deep-purple-darken-1 {
  border-top-color: #5e35b1;
}

.border-bc-deep-purple-darken-1 {
  border-bottom-color: #5e35b1;
}

.border-lc-deep-purple-darken-1 {
  border-left-color: #5e35b1;
}

.border-rc-deep-purple-darken-1 {
  border-right-color: #5e35b1;
}

.border-c-deep-purple-darken-2 {
  border-color: #512da8;
}

.border-tc-deep-purple-darken-2 {
  border-top-color: #512da8;
}

.border-bc-deep-purple-darken-2 {
  border-bottom-color: #512da8;
}

.border-lc-deep-purple-darken-2 {
  border-left-color: #512da8;
}

.border-rc-deep-purple-darken-2 {
  border-right-color: #512da8;
}

.border-c-deep-purple-darken-3 {
  border-color: #4527a0;
}

.border-tc-deep-purple-darken-3 {
  border-top-color: #4527a0;
}

.border-bc-deep-purple-darken-3 {
  border-bottom-color: #4527a0;
}

.border-lc-deep-purple-darken-3 {
  border-left-color: #4527a0;
}

.border-rc-deep-purple-darken-3 {
  border-right-color: #4527a0;
}

.border-c-deep-purple-darken-4 {
  border-color: #311b92;
}

.border-tc-deep-purple-darken-4 {
  border-top-color: #311b92;
}

.border-bc-deep-purple-darken-4 {
  border-bottom-color: #311b92;
}

.border-lc-deep-purple-darken-4 {
  border-left-color: #311b92;
}

.border-rc-deep-purple-darken-4 {
  border-right-color: #311b92;
}

/*
  Border width.
*/
.border-w-0px {
  border-width: 0px;
}

.border-tw-0px {
  border-top-width: 0px;
}

.border-rw-0px {
  border-right-width: 0px;
}

.border-bw-0px {
  border-bottom-width: 0px;
}

.border-lw-0px {
  border-left-width: 0px;
}

.border-w-1px {
  border-width: 1px;
}

.border-tw-1px {
  border-top-width: 1px;
}

.border-rw-1px {
  border-right-width: 1px;
}

.border-bw-1px {
  border-bottom-width: 1px;
}

.border-lw-1px {
  border-left-width: 1px;
}

.border-w-2px {
  border-width: 2px;
}

.border-tw-2px {
  border-top-width: 2px;
}

.border-rw-2px {
  border-right-width: 2px;
}

.border-bw-2px {
  border-bottom-width: 2px;
}

.border-lw-2px {
  border-left-width: 2px;
}

.border-w-3px {
  border-width: 3px;
}

.border-tw-3px {
  border-top-width: 3px;
}

.border-rw-3px {
  border-right-width: 3px;
}

.border-bw-3px {
  border-bottom-width: 3px;
}

.border-lw-3px {
  border-left-width: 3px;
}

.border-w-4px {
  border-width: 4px;
}

.border-tw-4px {
  border-top-width: 4px;
}

.border-rw-4px {
  border-right-width: 4px;
}

.border-bw-4px {
  border-bottom-width: 4px;
}

.border-lw-4px {
  border-left-width: 4px;
}

.border-w-5px {
  border-width: 5px;
}

.border-tw-5px {
  border-top-width: 5px;
}

.border-rw-5px {
  border-right-width: 5px;
}

.border-bw-5px {
  border-bottom-width: 5px;
}

.border-lw-5px {
  border-left-width: 5px;
}

.border-w-6px {
  border-width: 6px;
}

.border-tw-6px {
  border-top-width: 6px;
}

.border-rw-6px {
  border-right-width: 6px;
}

.border-bw-6px {
  border-bottom-width: 6px;
}

.border-lw-6px {
  border-left-width: 6px;
}

.border-w-7px {
  border-width: 7px;
}

.border-tw-7px {
  border-top-width: 7px;
}

.border-rw-7px {
  border-right-width: 7px;
}

.border-bw-7px {
  border-bottom-width: 7px;
}

.border-lw-7px {
  border-left-width: 7px;
}

.border-w-8px {
  border-width: 8px;
}

.border-tw-8px {
  border-top-width: 8px;
}

.border-rw-8px {
  border-right-width: 8px;
}

.border-bw-8px {
  border-bottom-width: 8px;
}

.border-lw-8px {
  border-left-width: 8px;
}

.border-w-9px {
  border-width: 9px;
}

.border-tw-9px {
  border-top-width: 9px;
}

.border-rw-9px {
  border-right-width: 9px;
}

.border-bw-9px {
  border-bottom-width: 9px;
}

.border-lw-9px {
  border-left-width: 9px;
}

.border-w-10px {
  border-width: 10px;
}

.border-tw-10px {
  border-top-width: 10px;
}

.border-rw-10px {
  border-right-width: 10px;
}

.border-bw-10px {
  border-bottom-width: 10px;
}

.border-lw-10px {
  border-left-width: 10px;
}

.border-w-11px {
  border-width: 11px;
}

.border-tw-11px {
  border-top-width: 11px;
}

.border-rw-11px {
  border-right-width: 11px;
}

.border-bw-11px {
  border-bottom-width: 11px;
}

.border-lw-11px {
  border-left-width: 11px;
}

.border-w-12px {
  border-width: 12px;
}

.border-tw-12px {
  border-top-width: 12px;
}

.border-rw-12px {
  border-right-width: 12px;
}

.border-bw-12px {
  border-bottom-width: 12px;
}

.border-lw-12px {
  border-left-width: 12px;
}

.border-w-13px {
  border-width: 13px;
}

.border-tw-13px {
  border-top-width: 13px;
}

.border-rw-13px {
  border-right-width: 13px;
}

.border-bw-13px {
  border-bottom-width: 13px;
}

.border-lw-13px {
  border-left-width: 13px;
}

.border-w-14px {
  border-width: 14px;
}

.border-tw-14px {
  border-top-width: 14px;
}

.border-rw-14px {
  border-right-width: 14px;
}

.border-bw-14px {
  border-bottom-width: 14px;
}

.border-lw-14px {
  border-left-width: 14px;
}

.border-w-15px {
  border-width: 15px;
}

.border-tw-15px {
  border-top-width: 15px;
}

.border-rw-15px {
  border-right-width: 15px;
}

.border-bw-15px {
  border-bottom-width: 15px;
}

.border-lw-15px {
  border-left-width: 15px;
}

.border-w-16px {
  border-width: 16px;
}

.border-tw-16px {
  border-top-width: 16px;
}

.border-rw-16px {
  border-right-width: 16px;
}

.border-bw-16px {
  border-bottom-width: 16px;
}

.border-lw-16px {
  border-left-width: 16px;
}

.border-w-17px {
  border-width: 17px;
}

.border-tw-17px {
  border-top-width: 17px;
}

.border-rw-17px {
  border-right-width: 17px;
}

.border-bw-17px {
  border-bottom-width: 17px;
}

.border-lw-17px {
  border-left-width: 17px;
}

.border-w-18px {
  border-width: 18px;
}

.border-tw-18px {
  border-top-width: 18px;
}

.border-rw-18px {
  border-right-width: 18px;
}

.border-bw-18px {
  border-bottom-width: 18px;
}

.border-lw-18px {
  border-left-width: 18px;
}

.border-w-19px {
  border-width: 19px;
}

.border-tw-19px {
  border-top-width: 19px;
}

.border-rw-19px {
  border-right-width: 19px;
}

.border-bw-19px {
  border-bottom-width: 19px;
}

.border-lw-19px {
  border-left-width: 19px;
}

.border-w-20px {
  border-width: 20px;
}

.border-tw-20px {
  border-top-width: 20px;
}

.border-rw-20px {
  border-right-width: 20px;
}

.border-bw-20px {
  border-bottom-width: 20px;
}

.border-lw-20px {
  border-left-width: 20px;
}

.border-w-25px {
  border-width: 25px;
}

.border-tw-25px {
  border-top-width: 25px;
}

.border-rw-25px {
  border-right-width: 25px;
}

.border-bw-25px {
  border-bottom-width: 25px;
}

.border-lw-25px {
  border-left-width: 25px;
}

.border-w-30px {
  border-width: 30px;
}

.border-tw-30px {
  border-top-width: 30px;
}

.border-rw-30px {
  border-right-width: 30px;
}

.border-bw-30px {
  border-bottom-width: 30px;
}

.border-lw-30px {
  border-left-width: 30px;
}

.border-w-35px {
  border-width: 35px;
}

.border-tw-35px {
  border-top-width: 35px;
}

.border-rw-35px {
  border-right-width: 35px;
}

.border-bw-35px {
  border-bottom-width: 35px;
}

.border-lw-35px {
  border-left-width: 35px;
}

.border-w-40px {
  border-width: 40px;
}

.border-tw-40px {
  border-top-width: 40px;
}

.border-rw-40px {
  border-right-width: 40px;
}

.border-bw-40px {
  border-bottom-width: 40px;
}

.border-lw-40px {
  border-left-width: 40px;
}

.border-w-45px {
  border-width: 45px;
}

.border-tw-45px {
  border-top-width: 45px;
}

.border-rw-45px {
  border-right-width: 45px;
}

.border-bw-45px {
  border-bottom-width: 45px;
}

.border-lw-45px {
  border-left-width: 45px;
}

.border-w-50px {
  border-width: 50px;
}

.border-tw-50px {
  border-top-width: 50px;
}

.border-rw-50px {
  border-right-width: 50px;
}

.border-bw-50px {
  border-bottom-width: 50px;
}

.border-lw-50px {
  border-left-width: 50px;
}

.border-w-55px {
  border-width: 55px;
}

.border-tw-55px {
  border-top-width: 55px;
}

.border-rw-55px {
  border-right-width: 55px;
}

.border-bw-55px {
  border-bottom-width: 55px;
}

.border-lw-55px {
  border-left-width: 55px;
}

.border-w-60px {
  border-width: 60px;
}

.border-tw-60px {
  border-top-width: 60px;
}

.border-rw-60px {
  border-right-width: 60px;
}

.border-bw-60px {
  border-bottom-width: 60px;
}

.border-lw-60px {
  border-left-width: 60px;
}

.border-w-65px {
  border-width: 65px;
}

.border-tw-65px {
  border-top-width: 65px;
}

.border-rw-65px {
  border-right-width: 65px;
}

.border-bw-65px {
  border-bottom-width: 65px;
}

.border-lw-65px {
  border-left-width: 65px;
}

.border-w-70px {
  border-width: 70px;
}

.border-tw-70px {
  border-top-width: 70px;
}

.border-rw-70px {
  border-right-width: 70px;
}

.border-bw-70px {
  border-bottom-width: 70px;
}

.border-lw-70px {
  border-left-width: 70px;
}

.border-w-75px {
  border-width: 75px;
}

.border-tw-75px {
  border-top-width: 75px;
}

.border-rw-75px {
  border-right-width: 75px;
}

.border-bw-75px {
  border-bottom-width: 75px;
}

.border-lw-75px {
  border-left-width: 75px;
}

.border-w-80px {
  border-width: 80px;
}

.border-tw-80px {
  border-top-width: 80px;
}

.border-rw-80px {
  border-right-width: 80px;
}

.border-bw-80px {
  border-bottom-width: 80px;
}

.border-lw-80px {
  border-left-width: 80px;
}

.border-w-85px {
  border-width: 85px;
}

.border-tw-85px {
  border-top-width: 85px;
}

.border-rw-85px {
  border-right-width: 85px;
}

.border-bw-85px {
  border-bottom-width: 85px;
}

.border-lw-85px {
  border-left-width: 85px;
}

.border-w-90px {
  border-width: 90px;
}

.border-tw-90px {
  border-top-width: 90px;
}

.border-rw-90px {
  border-right-width: 90px;
}

.border-bw-90px {
  border-bottom-width: 90px;
}

.border-lw-90px {
  border-left-width: 90px;
}

.border-w-95px {
  border-width: 95px;
}

.border-tw-95px {
  border-top-width: 95px;
}

.border-rw-95px {
  border-right-width: 95px;
}

.border-bw-95px {
  border-bottom-width: 95px;
}

.border-lw-95px {
  border-left-width: 95px;
}

.border-w-100px {
  border-width: 100px;
}

.border-tw-100px {
  border-top-width: 100px;
}

.border-rw-100px {
  border-right-width: 100px;
}

.border-bw-100px {
  border-bottom-width: 100px;
}

.border-lw-100px {
  border-left-width: 100px;
}

.border-w-150px {
  border-width: 150px;
}

.border-tw-150px {
  border-top-width: 150px;
}

.border-rw-150px {
  border-right-width: 150px;
}

.border-bw-150px {
  border-bottom-width: 150px;
}

.border-lw-150px {
  border-left-width: 150px;
}

.border-w-200px {
  border-width: 200px;
}

.border-tw-200px {
  border-top-width: 200px;
}

.border-rw-200px {
  border-right-width: 200px;
}

.border-bw-200px {
  border-bottom-width: 200px;
}

.border-lw-200px {
  border-left-width: 200px;
}

.border-w-250px {
  border-width: 250px;
}

.border-tw-250px {
  border-top-width: 250px;
}

.border-rw-250px {
  border-right-width: 250px;
}

.border-bw-250px {
  border-bottom-width: 250px;
}

.border-lw-250px {
  border-left-width: 250px;
}

.border-w-300px {
  border-width: 300px;
}

.border-tw-300px {
  border-top-width: 300px;
}

.border-rw-300px {
  border-right-width: 300px;
}

.border-bw-300px {
  border-bottom-width: 300px;
}

.border-lw-300px {
  border-left-width: 300px;
}

.border-w-350px {
  border-width: 350px;
}

.border-tw-350px {
  border-top-width: 350px;
}

.border-rw-350px {
  border-right-width: 350px;
}

.border-bw-350px {
  border-bottom-width: 350px;
}

.border-lw-350px {
  border-left-width: 350px;
}

.border-w-400px {
  border-width: 400px;
}

.border-tw-400px {
  border-top-width: 400px;
}

.border-rw-400px {
  border-right-width: 400px;
}

.border-bw-400px {
  border-bottom-width: 400px;
}

.border-lw-400px {
  border-left-width: 400px;
}

.border-w-450px {
  border-width: 450px;
}

.border-tw-450px {
  border-top-width: 450px;
}

.border-rw-450px {
  border-right-width: 450px;
}

.border-bw-450px {
  border-bottom-width: 450px;
}

.border-lw-450px {
  border-left-width: 450px;
}

.border-w-500px {
  border-width: 500px;
}

.border-tw-500px {
  border-top-width: 500px;
}

.border-rw-500px {
  border-right-width: 500px;
}

.border-bw-500px {
  border-bottom-width: 500px;
}

.border-lw-500px {
  border-left-width: 500px;
}

/*
  Padding size.
*/
.padding-0px {
  padding: 0px;
}

.padding-t-0px {
  padding-top: 0px;
}

.padding-r-0px {
  padding-right: 0px;
}

.padding-b-0px {
  padding-bottom: 0px;
}

.padding-l-0px {
  padding-left: 0px;
}

.padding-1px {
  padding: 1px;
}

.padding-t-1px {
  padding-top: 1px;
}

.padding-r-1px {
  padding-right: 1px;
}

.padding-b-1px {
  padding-bottom: 1px;
}

.padding-l-1px {
  padding-left: 1px;
}

.padding-2px {
  padding: 2px;
}

.padding-t-2px {
  padding-top: 2px;
}

.padding-r-2px {
  padding-right: 2px;
}

.padding-b-2px {
  padding-bottom: 2px;
}

.padding-l-2px {
  padding-left: 2px;
}

.padding-3px {
  padding: 3px;
}

.padding-t-3px {
  padding-top: 3px;
}

.padding-r-3px {
  padding-right: 3px;
}

.padding-b-3px {
  padding-bottom: 3px;
}

.padding-l-3px {
  padding-left: 3px;
}

.padding-4px {
  padding: 4px;
}

.padding-t-4px {
  padding-top: 4px;
}

.padding-r-4px {
  padding-right: 4px;
}

.padding-b-4px {
  padding-bottom: 4px;
}

.padding-l-4px {
  padding-left: 4px;
}

.padding-5px {
  padding: 5px;
}

.padding-t-5px {
  padding-top: 5px;
}

.padding-r-5px {
  padding-right: 5px;
}

.padding-b-5px {
  padding-bottom: 5px;
}

.padding-l-5px {
  padding-left: 5px;
}

.padding-6px {
  padding: 6px;
}

.padding-t-6px {
  padding-top: 6px;
}

.padding-r-6px {
  padding-right: 6px;
}

.padding-b-6px {
  padding-bottom: 6px;
}

.padding-l-6px {
  padding-left: 6px;
}

.padding-7px {
  padding: 7px;
}

.padding-t-7px {
  padding-top: 7px;
}

.padding-r-7px {
  padding-right: 7px;
}

.padding-b-7px {
  padding-bottom: 7px;
}

.padding-l-7px {
  padding-left: 7px;
}

.padding-8px {
  padding: 8px;
}

.padding-t-8px {
  padding-top: 8px;
}

.padding-r-8px {
  padding-right: 8px;
}

.padding-b-8px {
  padding-bottom: 8px;
}

.padding-l-8px {
  padding-left: 8px;
}

.padding-9px {
  padding: 9px;
}

.padding-t-9px {
  padding-top: 9px;
}

.padding-r-9px {
  padding-right: 9px;
}

.padding-b-9px {
  padding-bottom: 9px;
}

.padding-l-9px {
  padding-left: 9px;
}

.padding-10px {
  padding: 10px;
}

.padding-t-10px {
  padding-top: 10px;
}

.padding-r-10px {
  padding-right: 10px;
}

.padding-b-10px {
  padding-bottom: 10px;
}

.padding-l-10px {
  padding-left: 10px;
}

.padding-11px {
  padding: 11px;
}

.padding-t-11px {
  padding-top: 11px;
}

.padding-r-11px {
  padding-right: 11px;
}

.padding-b-11px {
  padding-bottom: 11px;
}

.padding-l-11px {
  padding-left: 11px;
}

.padding-12px {
  padding: 12px;
}

.padding-t-12px {
  padding-top: 12px;
}

.padding-r-12px {
  padding-right: 12px;
}

.padding-b-12px {
  padding-bottom: 12px;
}

.padding-l-12px {
  padding-left: 12px;
}

.padding-13px {
  padding: 13px;
}

.padding-t-13px {
  padding-top: 13px;
}

.padding-r-13px {
  padding-right: 13px;
}

.padding-b-13px {
  padding-bottom: 13px;
}

.padding-l-13px {
  padding-left: 13px;
}

.padding-14px {
  padding: 14px;
}

.padding-t-14px {
  padding-top: 14px;
}

.padding-r-14px {
  padding-right: 14px;
}

.padding-b-14px {
  padding-bottom: 14px;
}

.padding-l-14px {
  padding-left: 14px;
}

.padding-15px {
  padding: 15px;
}

.padding-t-15px {
  padding-top: 15px;
}

.padding-r-15px {
  padding-right: 15px;
}

.padding-b-15px {
  padding-bottom: 15px;
}

.padding-l-15px {
  padding-left: 15px;
}

.padding-16px {
  padding: 16px;
}

.padding-t-16px {
  padding-top: 16px;
}

.padding-r-16px {
  padding-right: 16px;
}

.padding-b-16px {
  padding-bottom: 16px;
}

.padding-l-16px {
  padding-left: 16px;
}

.padding-17px {
  padding: 17px;
}

.padding-t-17px {
  padding-top: 17px;
}

.padding-r-17px {
  padding-right: 17px;
}

.padding-b-17px {
  padding-bottom: 17px;
}

.padding-l-17px {
  padding-left: 17px;
}

.padding-18px {
  padding: 18px;
}

.padding-t-18px {
  padding-top: 18px;
}

.padding-r-18px {
  padding-right: 18px;
}

.padding-b-18px {
  padding-bottom: 18px;
}

.padding-l-18px {
  padding-left: 18px;
}

.padding-19px {
  padding: 19px;
}

.padding-t-19px {
  padding-top: 19px;
}

.padding-r-19px {
  padding-right: 19px;
}

.padding-b-19px {
  padding-bottom: 19px;
}

.padding-l-19px {
  padding-left: 19px;
}

.padding-20px {
  padding: 20px;
}

.padding-t-20px {
  padding-top: 20px;
}

.padding-r-20px {
  padding-right: 20px;
}

.padding-b-20px {
  padding-bottom: 20px;
}

.padding-l-20px {
  padding-left: 20px;
}

.padding-25px {
  padding: 25px;
}

.padding-t-25px {
  padding-top: 25px;
}

.padding-r-25px {
  padding-right: 25px;
}

.padding-b-25px {
  padding-bottom: 25px;
}

.padding-l-25px {
  padding-left: 25px;
}

.padding-30px {
  padding: 30px;
}

.padding-t-30px {
  padding-top: 30px;
}

.padding-r-30px {
  padding-right: 30px;
}

.padding-b-30px {
  padding-bottom: 30px;
}

.padding-l-30px {
  padding-left: 30px;
}

.padding-35px {
  padding: 35px;
}

.padding-t-35px {
  padding-top: 35px;
}

.padding-r-35px {
  padding-right: 35px;
}

.padding-b-35px {
  padding-bottom: 35px;
}

.padding-l-35px {
  padding-left: 35px;
}

.padding-40px {
  padding: 40px;
}

.padding-t-40px {
  padding-top: 40px;
}

.padding-r-40px {
  padding-right: 40px;
}

.padding-b-40px {
  padding-bottom: 40px;
}

.padding-l-40px {
  padding-left: 40px;
}

.padding-45px {
  padding: 45px;
}

.padding-t-45px {
  padding-top: 45px;
}

.padding-r-45px {
  padding-right: 45px;
}

.padding-b-45px {
  padding-bottom: 45px;
}

.padding-l-45px {
  padding-left: 45px;
}

.padding-50px {
  padding: 50px;
}

.padding-t-50px {
  padding-top: 50px;
}

.padding-r-50px {
  padding-right: 50px;
}

.padding-b-50px {
  padding-bottom: 50px;
}

.padding-l-50px {
  padding-left: 50px;
}

.padding-55px {
  padding: 55px;
}

.padding-t-55px {
  padding-top: 55px;
}

.padding-r-55px {
  padding-right: 55px;
}

.padding-b-55px {
  padding-bottom: 55px;
}

.padding-l-55px {
  padding-left: 55px;
}

.padding-60px {
  padding: 60px;
}

.padding-t-60px {
  padding-top: 60px;
}

.padding-r-60px {
  padding-right: 60px;
}

.padding-b-60px {
  padding-bottom: 60px;
}

.padding-l-60px {
  padding-left: 60px;
}

.padding-65px {
  padding: 65px;
}

.padding-t-65px {
  padding-top: 65px;
}

.padding-r-65px {
  padding-right: 65px;
}

.padding-b-65px {
  padding-bottom: 65px;
}

.padding-l-65px {
  padding-left: 65px;
}

.padding-70px {
  padding: 70px;
}

.padding-t-70px {
  padding-top: 70px;
}

.padding-r-70px {
  padding-right: 70px;
}

.padding-b-70px {
  padding-bottom: 70px;
}

.padding-l-70px {
  padding-left: 70px;
}

.padding-75px {
  padding: 75px;
}

.padding-t-75px {
  padding-top: 75px;
}

.padding-r-75px {
  padding-right: 75px;
}

.padding-b-75px {
  padding-bottom: 75px;
}

.padding-l-75px {
  padding-left: 75px;
}

.padding-80px {
  padding: 80px;
}

.padding-t-80px {
  padding-top: 80px;
}

.padding-r-80px {
  padding-right: 80px;
}

.padding-b-80px {
  padding-bottom: 80px;
}

.padding-l-80px {
  padding-left: 80px;
}

.padding-85px {
  padding: 85px;
}

.padding-t-85px {
  padding-top: 85px;
}

.padding-r-85px {
  padding-right: 85px;
}

.padding-b-85px {
  padding-bottom: 85px;
}

.padding-l-85px {
  padding-left: 85px;
}

.padding-90px {
  padding: 90px;
}

.padding-t-90px {
  padding-top: 90px;
}

.padding-r-90px {
  padding-right: 90px;
}

.padding-b-90px {
  padding-bottom: 90px;
}

.padding-l-90px {
  padding-left: 90px;
}

.padding-95px {
  padding: 95px;
}

.padding-t-95px {
  padding-top: 95px;
}

.padding-r-95px {
  padding-right: 95px;
}

.padding-b-95px {
  padding-bottom: 95px;
}

.padding-l-95px {
  padding-left: 95px;
}

.padding-100px {
  padding: 100px;
}

.padding-t-100px {
  padding-top: 100px;
}

.padding-r-100px {
  padding-right: 100px;
}

.padding-b-100px {
  padding-bottom: 100px;
}

.padding-l-100px {
  padding-left: 100px;
}

.padding-150px {
  padding: 150px;
}

.padding-t-150px {
  padding-top: 150px;
}

.padding-r-150px {
  padding-right: 150px;
}

.padding-b-150px {
  padding-bottom: 150px;
}

.padding-l-150px {
  padding-left: 150px;
}

.padding-200px {
  padding: 200px;
}

.padding-t-200px {
  padding-top: 200px;
}

.padding-r-200px {
  padding-right: 200px;
}

.padding-b-200px {
  padding-bottom: 200px;
}

.padding-l-200px {
  padding-left: 200px;
}

.padding-250px {
  padding: 250px;
}

.padding-t-250px {
  padding-top: 250px;
}

.padding-r-250px {
  padding-right: 250px;
}

.padding-b-250px {
  padding-bottom: 250px;
}

.padding-l-250px {
  padding-left: 250px;
}

.padding-300px {
  padding: 300px;
}

.padding-t-300px {
  padding-top: 300px;
}

.padding-r-300px {
  padding-right: 300px;
}

.padding-b-300px {
  padding-bottom: 300px;
}

.padding-l-300px {
  padding-left: 300px;
}

.padding-350px {
  padding: 350px;
}

.padding-t-350px {
  padding-top: 350px;
}

.padding-r-350px {
  padding-right: 350px;
}

.padding-b-350px {
  padding-bottom: 350px;
}

.padding-l-350px {
  padding-left: 350px;
}

.padding-400px {
  padding: 400px;
}

.padding-t-400px {
  padding-top: 400px;
}

.padding-r-400px {
  padding-right: 400px;
}

.padding-b-400px {
  padding-bottom: 400px;
}

.padding-l-400px {
  padding-left: 400px;
}

.padding-450px {
  padding: 450px;
}

.padding-t-450px {
  padding-top: 450px;
}

.padding-r-450px {
  padding-right: 450px;
}

.padding-b-450px {
  padding-bottom: 450px;
}

.padding-l-450px {
  padding-left: 450px;
}

.padding-500px {
  padding: 500px;
}

.padding-t-500px {
  padding-top: 500px;
}

.padding-r-500px {
  padding-right: 500px;
}

.padding-b-500px {
  padding-bottom: 500px;
}

.padding-l-500px {
  padding-left: 500px;
}

/*
  Margin size.
*/
.margin-0px {
  margin: 0px;
}

.margin-t-0px {
  margin-top: 0px;
}

.margin-r-0px {
  margin-right: 0px;
}

.margin-b-0px {
  margin-bottom: 0px;
}

.margin-l-0px {
  margin-left: 0px;
}

.margin-1px {
  margin: 1px;
}

.margin-t-1px {
  margin-top: 1px;
}

.margin-r-1px {
  margin-right: 1px;
}

.margin-b-1px {
  margin-bottom: 1px;
}

.margin-l-1px {
  margin-left: 1px;
}

.margin-2px {
  margin: 2px;
}

.margin-t-2px {
  margin-top: 2px;
}

.margin-r-2px {
  margin-right: 2px;
}

.margin-b-2px {
  margin-bottom: 2px;
}

.margin-l-2px {
  margin-left: 2px;
}

.margin-3px {
  margin: 3px;
}

.margin-t-3px {
  margin-top: 3px;
}

.margin-r-3px {
  margin-right: 3px;
}

.margin-b-3px {
  margin-bottom: 3px;
}

.margin-l-3px {
  margin-left: 3px;
}

.margin-4px {
  margin: 4px;
}

.margin-t-4px {
  margin-top: 4px;
}

.margin-r-4px {
  margin-right: 4px;
}

.margin-b-4px {
  margin-bottom: 4px;
}

.margin-l-4px {
  margin-left: 4px;
}

.margin-5px {
  margin: 5px;
}

.margin-t-5px {
  margin-top: 5px;
}

.margin-r-5px {
  margin-right: 5px;
}

.margin-b-5px {
  margin-bottom: 5px;
}

.margin-l-5px {
  margin-left: 5px;
}

.margin-6px {
  margin: 6px;
}

.margin-t-6px {
  margin-top: 6px;
}

.margin-r-6px {
  margin-right: 6px;
}

.margin-b-6px {
  margin-bottom: 6px;
}

.margin-l-6px {
  margin-left: 6px;
}

.margin-7px {
  margin: 7px;
}

.margin-t-7px {
  margin-top: 7px;
}

.margin-r-7px {
  margin-right: 7px;
}

.margin-b-7px {
  margin-bottom: 7px;
}

.margin-l-7px {
  margin-left: 7px;
}

.margin-8px {
  margin: 8px;
}

.margin-t-8px {
  margin-top: 8px;
}

.margin-r-8px {
  margin-right: 8px;
}

.margin-b-8px {
  margin-bottom: 8px;
}

.margin-l-8px {
  margin-left: 8px;
}

.margin-9px {
  margin: 9px;
}

.margin-t-9px {
  margin-top: 9px;
}

.margin-r-9px {
  margin-right: 9px;
}

.margin-b-9px {
  margin-bottom: 9px;
}

.margin-l-9px {
  margin-left: 9px;
}

.margin-10px {
  margin: 10px;
}

.margin-t-10px {
  margin-top: 10px;
}

.margin-r-10px {
  margin-right: 10px;
}

.margin-b-10px {
  margin-bottom: 10px;
}

.margin-l-10px {
  margin-left: 10px;
}

.margin-11px {
  margin: 11px;
}

.margin-t-11px {
  margin-top: 11px;
}

.margin-r-11px {
  margin-right: 11px;
}

.margin-b-11px {
  margin-bottom: 11px;
}

.margin-l-11px {
  margin-left: 11px;
}

.margin-12px {
  margin: 12px;
}

.margin-t-12px {
  margin-top: 12px;
}

.margin-r-12px {
  margin-right: 12px;
}

.margin-b-12px {
  margin-bottom: 12px;
}

.margin-l-12px {
  margin-left: 12px;
}

.margin-13px {
  margin: 13px;
}

.margin-t-13px {
  margin-top: 13px;
}

.margin-r-13px {
  margin-right: 13px;
}

.margin-b-13px {
  margin-bottom: 13px;
}

.margin-l-13px {
  margin-left: 13px;
}

.margin-14px {
  margin: 14px;
}

.margin-t-14px {
  margin-top: 14px;
}

.margin-r-14px {
  margin-right: 14px;
}

.margin-b-14px {
  margin-bottom: 14px;
}

.margin-l-14px {
  margin-left: 14px;
}

.margin-15px {
  margin: 15px;
}

.margin-t-15px {
  margin-top: 15px;
}

.margin-r-15px {
  margin-right: 15px;
}

.margin-b-15px {
  margin-bottom: 15px;
}

.margin-l-15px {
  margin-left: 15px;
}

.margin-16px {
  margin: 16px;
}

.margin-t-16px {
  margin-top: 16px;
}

.margin-r-16px {
  margin-right: 16px;
}

.margin-b-16px {
  margin-bottom: 16px;
}

.margin-l-16px {
  margin-left: 16px;
}

.margin-17px {
  margin: 17px;
}

.margin-t-17px {
  margin-top: 17px;
}

.margin-r-17px {
  margin-right: 17px;
}

.margin-b-17px {
  margin-bottom: 17px;
}

.margin-l-17px {
  margin-left: 17px;
}

.margin-18px {
  margin: 18px;
}

.margin-t-18px {
  margin-top: 18px;
}

.margin-r-18px {
  margin-right: 18px;
}

.margin-b-18px {
  margin-bottom: 18px;
}

.margin-l-18px {
  margin-left: 18px;
}

.margin-19px {
  margin: 19px;
}

.margin-t-19px {
  margin-top: 19px;
}

.margin-r-19px {
  margin-right: 19px;
}

.margin-b-19px {
  margin-bottom: 19px;
}

.margin-l-19px {
  margin-left: 19px;
}

.margin-20px {
  margin: 20px;
}

.margin-t-20px {
  margin-top: 20px;
}

.margin-r-20px {
  margin-right: 20px;
}

.margin-b-20px {
  margin-bottom: 20px;
}

.margin-l-20px {
  margin-left: 20px;
}

.margin-25px {
  margin: 25px;
}

.margin-t-25px {
  margin-top: 25px;
}

.margin-r-25px {
  margin-right: 25px;
}

.margin-b-25px {
  margin-bottom: 25px;
}

.margin-l-25px {
  margin-left: 25px;
}

.margin-30px {
  margin: 30px;
}

.margin-t-30px {
  margin-top: 30px;
}

.margin-r-30px {
  margin-right: 30px;
}

.margin-b-30px {
  margin-bottom: 30px;
}

.margin-l-30px {
  margin-left: 30px;
}

.margin-35px {
  margin: 35px;
}

.margin-t-35px {
  margin-top: 35px;
}

.margin-r-35px {
  margin-right: 35px;
}

.margin-b-35px {
  margin-bottom: 35px;
}

.margin-l-35px {
  margin-left: 35px;
}

.margin-40px {
  margin: 40px;
}

.margin-t-40px {
  margin-top: 40px;
}

.margin-r-40px {
  margin-right: 40px;
}

.margin-b-40px {
  margin-bottom: 40px;
}

.margin-l-40px {
  margin-left: 40px;
}

.margin-45px {
  margin: 45px;
}

.margin-t-45px {
  margin-top: 45px;
}

.margin-r-45px {
  margin-right: 45px;
}

.margin-b-45px {
  margin-bottom: 45px;
}

.margin-l-45px {
  margin-left: 45px;
}

.margin-50px {
  margin: 50px;
}

.margin-t-50px {
  margin-top: 50px;
}

.margin-r-50px {
  margin-right: 50px;
}

.margin-b-50px {
  margin-bottom: 50px;
}

.margin-l-50px {
  margin-left: 50px;
}

.margin-55px {
  margin: 55px;
}

.margin-t-55px {
  margin-top: 55px;
}

.margin-r-55px {
  margin-right: 55px;
}

.margin-b-55px {
  margin-bottom: 55px;
}

.margin-l-55px {
  margin-left: 55px;
}

.margin-60px {
  margin: 60px;
}

.margin-t-60px {
  margin-top: 60px;
}

.margin-r-60px {
  margin-right: 60px;
}

.margin-b-60px {
  margin-bottom: 60px;
}

.margin-l-60px {
  margin-left: 60px;
}

.margin-65px {
  margin: 65px;
}

.margin-t-65px {
  margin-top: 65px;
}

.margin-r-65px {
  margin-right: 65px;
}

.margin-b-65px {
  margin-bottom: 65px;
}

.margin-l-65px {
  margin-left: 65px;
}

.margin-70px {
  margin: 70px;
}

.margin-t-70px {
  margin-top: 70px;
}

.margin-r-70px {
  margin-right: 70px;
}

.margin-b-70px {
  margin-bottom: 70px;
}

.margin-l-70px {
  margin-left: 70px;
}

.margin-75px {
  margin: 75px;
}

.margin-t-75px {
  margin-top: 75px;
}

.margin-r-75px {
  margin-right: 75px;
}

.margin-b-75px {
  margin-bottom: 75px;
}

.margin-l-75px {
  margin-left: 75px;
}

.margin-80px {
  margin: 80px;
}

.margin-t-80px {
  margin-top: 80px;
}

.margin-r-80px {
  margin-right: 80px;
}

.margin-b-80px {
  margin-bottom: 80px;
}

.margin-l-80px {
  margin-left: 80px;
}

.margin-85px {
  margin: 85px;
}

.margin-t-85px {
  margin-top: 85px;
}

.margin-r-85px {
  margin-right: 85px;
}

.margin-b-85px {
  margin-bottom: 85px;
}

.margin-l-85px {
  margin-left: 85px;
}

.margin-90px {
  margin: 90px;
}

.margin-t-90px {
  margin-top: 90px;
}

.margin-r-90px {
  margin-right: 90px;
}

.margin-b-90px {
  margin-bottom: 90px;
}

.margin-l-90px {
  margin-left: 90px;
}

.margin-95px {
  margin: 95px;
}

.margin-t-95px {
  margin-top: 95px;
}

.margin-r-95px {
  margin-right: 95px;
}

.margin-b-95px {
  margin-bottom: 95px;
}

.margin-l-95px {
  margin-left: 95px;
}

.margin-100px {
  margin: 100px;
}

.margin-t-100px {
  margin-top: 100px;
}

.margin-r-100px {
  margin-right: 100px;
}

.margin-b-100px {
  margin-bottom: 100px;
}

.margin-l-100px {
  margin-left: 100px;
}

.margin-150px {
  margin: 150px;
}

.margin-t-150px {
  margin-top: 150px;
}

.margin-r-150px {
  margin-right: 150px;
}

.margin-b-150px {
  margin-bottom: 150px;
}

.margin-l-150px {
  margin-left: 150px;
}

.margin-200px {
  margin: 200px;
}

.margin-t-200px {
  margin-top: 200px;
}

.margin-r-200px {
  margin-right: 200px;
}

.margin-b-200px {
  margin-bottom: 200px;
}

.margin-l-200px {
  margin-left: 200px;
}

.margin-250px {
  margin: 250px;
}

.margin-t-250px {
  margin-top: 250px;
}

.margin-r-250px {
  margin-right: 250px;
}

.margin-b-250px {
  margin-bottom: 250px;
}

.margin-l-250px {
  margin-left: 250px;
}

.margin-300px {
  margin: 300px;
}

.margin-t-300px {
  margin-top: 300px;
}

.margin-r-300px {
  margin-right: 300px;
}

.margin-b-300px {
  margin-bottom: 300px;
}

.margin-l-300px {
  margin-left: 300px;
}

.margin-350px {
  margin: 350px;
}

.margin-t-350px {
  margin-top: 350px;
}

.margin-r-350px {
  margin-right: 350px;
}

.margin-b-350px {
  margin-bottom: 350px;
}

.margin-l-350px {
  margin-left: 350px;
}

.margin-400px {
  margin: 400px;
}

.margin-t-400px {
  margin-top: 400px;
}

.margin-r-400px {
  margin-right: 400px;
}

.margin-b-400px {
  margin-bottom: 400px;
}

.margin-l-400px {
  margin-left: 400px;
}

.margin-450px {
  margin: 450px;
}

.margin-t-450px {
  margin-top: 450px;
}

.margin-r-450px {
  margin-right: 450px;
}

.margin-b-450px {
  margin-bottom: 450px;
}

.margin-l-450px {
  margin-left: 450px;
}

.margin-500px {
  margin: 500px;
}

.margin-t-500px {
  margin-top: 500px;
}

.margin-r-500px {
  margin-right: 500px;
}

.margin-b-500px {
  margin-bottom: 500px;
}

.margin-l-500px {
  margin-left: 500px;
}

/*# sourceMappingURL=lean.css.map */
